---
import Layout from "../layouts/Layout.astro";
import photo1 from "../assets/photo1.jpg";
import Nav from "../components/Nav.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Nav currentPage="gallery" />
  <div
    class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 md:mt-12 mt-0"
  >
    <a
      data-fslightbox="gallery"
      data-caption="beach yoga"
      href="/photo1.jpg"
      id="openLightboxButton"
    >
      <img src={photo1.src} alt="photo" class="w-full" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="beach yoga"
      href="/photo1.jpg"
      id="openLightboxButton"
    >
      <img src={photo1.src} alt="photo" class="w-full" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="beach yoga"
      href="/photo1.jpg"
      id="openLightboxButton"
    >
      <img src={photo1.src} alt="photo" class="w-full" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="beach yoga"
      href="/photo1.jpg"
      id="openLightboxButton"
    >
      <img src={photo1.src} alt="photo" class="w-full" />
    </a>
    <a
      data-fslightbox="gallery"
      data-caption="beach yoga"
      href="/photo1.jpg"
      id="openLightboxButton"
    >
      <img src={photo1.src} alt="photo" class="w-full" />
    </a>
  </div>
</Layout>
